{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<h3>1. Guess Task:</h3>
<br><br>

    <h4>Please, select a wage level that you think the Employer will offer you this period.
        <br>

        {% if num_round == 13 %}
        You guess in the previous Questionnaire Period was a wage equal to {{ pre_wagebelief_8 }}
        {% elif num_round == 14 %}
        You guess in the previous Questionnaire Period was a wage equal to {{ pre_wagebelief_13 }}
        {% elif num_round == 18 %}
        You guess in the previous Questionnaire Period was a wage equal to {{ pre_wagebelief_14 }}
        {% endif %}
        <br><br>
    Remember that the offer must be between ${{ min_wage }} and ${% if shock_revealed  == 0 %}12{% else %} {{ endowment }} {% endif %}. </h4>
<font color = "ff000">You will find a paragraph on the bottom of this page that summarizes the instructions
    for this task, in case you need to remind yourself.</font><br>

    <br>
    {% formfield player.wagebelief %}
</p>
<br><br>
<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>

<p>
    <br><br>
<h4><font color = "ff002"> This is a reminder of the Guess task:</font></h4>


<ul>
    <li>Your goal is to provide your best guess of what wage your employer will offer to you this period.</li>
    <li>You will earn $5 if your guess is accurate. Otherwise, you earn nothing.</li>
    <li>A guess is 'accurate' if it exactly matches the wage actually offered by the employer.</li>
</ul>

{% endblock %}