{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<p>
<div align="center">
<h3>You are seeing this message because your Employer offered you a wage higher than $12.
    This is now possible because your Employer's endowment has increased permanently to $16.
</h3> <br>
<h4>     The employers' per-period endowment has changed from $12 to ${{ group.actuale }}. <br>
    <br>This change will last for the remainder of this experiment! <br></h4>
Please, note:
<ul>
    <li> The employer’s payoff is now ( ${{ group.actuale }} – Wage)* Effort.</li>
    <li> Therefore, the <b>highest</b> wage offer possible is now ${{ group.actuale }} rather than $12.</li>
</ul>
</div><br><br>
    <h4>The employer has offered you the following wage: ${{ offre_wage }} <br><br>
    <br>Please, select an effort level</h4>
    <font color="#ff000">Note: negative payoffs are not allowed. You can proceed only if your payoff is non-negative</font>
<br><br>


    {% formfield group.steffort %}
    <br>

    You will earn : <br>
    Wage - Cost of Effort = ${{ offre_wage }} - 0.5 * <span id="id_effort_calcul"> </span><sup>2</sup> = </bn>$<span id="resultats"> </span><br>
    <br>

<div>
<input class="btn btn-primary btn-large"  id ="bravo" type="submit" style="visibility:hidden;" value="Next"/>
</div>
</p>
{% endblock %}

{% block scripts %}
    <script>
        var myVar = setInterval(function(){ myTask() }, 1000);

        function round(value, decimals) {
        return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
        }

        function myTask(){
        effort = document.getElementById("id_steffort").value
        document.getElementById("id_effort_calcul").innerHTML = effort
        wage = {{ offre_wage | json }}
        document.getElementById("resultats").innerHTML = round(wage - (effort)**2/2,2)

        if(document.getElementById("resultats").innerHTML >=0 ){
            document.getElementById("bravo").style.visibility = "visible";
        }else{document.getElementById("bravo").style.visibility = "hidden";};

    }

;
    </script>

    <script>
        var myVar = setInterval(function(){ myTaskadditional() }, 1000);

        function round(value, decimals) {
        return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
        }

        function check(value) {
        if (value < 0) {
            return "Negative value";
        } else {
            return value
        }
        }

        function myTaskadditional(){
        effort = document.getElementById("id_steffort").value
        document.getElementById("id_effort_calcul2").innerHTML = effort
        wage = {{ offre_wage | json }}
        actuale = {{ group.actuale | json }}
        net = actuale - wage
        document.getElementById("resultats2").innerHTML = round(net*(effort),1)
        }

;
    </script>
{% endblock %}