{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block app_styles %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
tr { line-height: 14px; }

th, td {
    padding: 15px;
    text-align: center;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c2;
}
</style>

{% endblock %}

{% block content %}
<h1></h1>

<p>
</p>

<h2>Explaining the Guess Task:</h2>
<h3>Description of the Task</h3>

For the Guess Task, you must provide your best guess about what wage the employer will offer you this period.
Your payoff for the Guess Task is based on the accuracy of your guesses.
<br><br>
<h3>How to earn money for the Guess Task?</h3>
A guess is 'accurate' if it <b>exactly</b> matches the wage actually offered by the employer for this period.
You will earn $5 if your guess is 'accurate'.
Otherwise, you will earn nothing. <br>
<br><br>
<h3><font color="#ff000"> Example</font></h3>

Suppose for example that:

<ul>
    <li>Your answer to the Guess Task is $4</li>
    <li>If the employer actually offers a wage equal to $4, you earn $5</li>
    <li>If your guess equals any other possible number (for example $3 or $10), then you earn nothing</li>

</ul>

<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>

{% endblock %}
