{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<p>
    <h2>Welcome!</h2>

You are here today to participate in an experiment involving economic decision making.
You will receive a €5 show-up fee. This is yours to keep, regardless of the decisions you make in the experiment.
You can earn an additional sum of money today based on your decisions and the decisions of one other participant
in this room. We will pay you all of your earnings, including your show-up fee, in cash at the end of this experiment.
</p>

<p>
We will read these instructions aloud and you can follow along with us. It is important that you listen carefully so
that you understand this experiment and can maximize the amount of money you are able to earn today. <br><br>

If you have not already done so, please turn off your cell phone. You are not allowed to communicate with anyone
during the experiment, look at other participants' screens, or exclaim out loud. Please raise your hand if you have
a question and an experimenter will visit your station to answer your question privately.
</p>

<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>
{% endblock %}