{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<div align="center"><h3>End of the experiment</h3>
<br>
    Thanks for participating.
Please, remain seated and wait for the payment phase. <br>
    In the meantime, we ask you to complete the following questionnaire before proceeding to the payment. <br>

<table>
    <tr>
        <td>Gender: {% formfield player.gender %}</td>
    </tr>
    <tr>
        <td>Undergraduate student: {% formfield player.undergrad %}</td>
    </tr>

    <tr>
        <td>Comments <br> {% formfield player.comments %} </td>
    </tr>
</table>

<div align="center">
    <button class="btn btn-primary btn-large">Next</button>
</div>

{% endblock %}
