{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<p>
<div align="center">
<h2>Change in Employer's Endowment</h2> <br>
<h4>     The employers' per-period endowment has changed from $12 to ${{ group.actuale }}. <br>
    <br>This change will last for the remainder of this experiment! <br></h4>
</div>
Please, note:
<ul>
    <li> The employer’s payoff is now ( ${{ group.actuale }} – Wage)* Effort.</li>
    <li> Therefore, the <b>highest</b> wage offer possible is now ${{ group.actuale }} rather than $12.</li>
    <li> This screen is being displayed <b>only</b> to <b>employers</b> in this experiment.</li>
    <li> Workers <b>do not learn</b> about this change.</li>
    <li>If you decide to offer a wage larger than $12, we will tell the worker that your endowment has permanently
        increase to $16.</li>
</ul>
<br><br>

Click on the button below to proceed.
<br><br>
</p>
<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>
{% endblock %}