{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}

<h2>Questionnaire Round</h2>
<br><br>
These instructions are displayed to WORKERS only. <br>

{% if num_round == 8 %}

This period,

{% endif %}

{% if num_round > 8 %}

As you have already done in previous Questionnaire periods, this period

{% endif %}

will include two tasks:
<br><br>
    <ol>
    <li><b>Guess Task</b></li>
    <li><b>Strategy Task</b></li>
</ol>
<br>
You must complete both tasks.
You will be paid for <b>either</b> the Guess Task
<b>or</b> the Strategy Task.
You will not be paid for both.
The computer will choose randomly to pay you for either the Guess Task
or the Strategy Task.
<br><br>
We will explain the Guess Task on the following screen. Please click the button below to proceed. <br>
<br><br>

<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>

{% endblock %}