{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block app_styles %}

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
tr { line-height: 14px; }

table#t01 {
    width: 100%;
    background-color: #f1f1c2;
}
</style>

{% endblock %}
{% block content %}

<h2>Explaining the Guess Task:</h2>


<h3>Description of the Task</h3>
For the Guess task, we ask you to provide your best guess of how much effort your worker will provide
at each possible wage level. <br><br>
While you complete this task, the worker will be completing a similar one,
providing the actual amount of effort for each wage level. <br><br>
Your objective is to guess his/her effort responses.
Your payoff for the Guess Task is based on the accuracy of your guesses. <br><br>

<h3>Accuracy of Guesses</h3>
We consider your guess as ‘accurate’ if it is within .25 of the actual effort
level the worker agrees to provide for a given wage. For example, if your guess is 0.5 and the actual value is
0.25, 0.5 or 0.75, then your guess is considered accurate.

<br><br>
<h3>What will be displayed in the next screen?</h3>
Now, we provide an example of the Guess Task screen. We note each possible wage in the leftmost
column and ask for your guess of effort provision for that wage in the next column. Further,
we provide you with information on your payoff and your worker’s payoff for each wage/effort
combination in the last two columns.
<br>
<br>
<font color="#ff000">Example</font> of the table you will see in the following page.

<table style="..." id = "t01" border="1" width="372" align="center">
<tbody>
<tr>
<td style="width: 20"><h4><b>Wages</b></h4></td>
<td style="width : 40%"><h4><b>Guess on Effort</b></h4></td>
<td style="width: 25%"><h4><b>Worker's payoff</b></h4></td>
<td style="width: 25%"><h4><b>Your payoff</b></h4></td>

</tr>
<tr>
<td style="width: 181px;">1</td>
<td style="width: 181px;">here you will insert your guess</td>
<td style="...">here the worker's payoff is automatically computed</td>
<td style="...">here your payoff is automatically computed</td>
</tr>
<tr>
<td style="width: 181px;">2</td>
<td style="width: 181px;">here you will insert your guess</td>
<td style="...">here the worker's payoff is automatically computed</td>
<td style="...">here your payoff is automatically computed</td>
</tr>
<tr>
<td style="width: 181px;">...</td>
<td style="width: 181px;">...</td>
<td style="...">...</td>
<td style="...">...</td>
</tr>
</tbody>
</table>
<br><br>

<br>
<h3>How to earn money with the Guess Task: </h3>

We will pay you based on the accuracy of your guesses. <br>
The computer will randomly select one of your guesses (namely, one row of the table above) and if the guess
is 'accurate', then you will win $5. <br>
If your randomly chosen guess is not 'accurate', then you earn nothing. <br><br>
<font color = "#ff000">An example</font>:
Suppose the computer chooses to evaluate your guess for a wage = $6, namely the row 6 of the table above.
Assume that your guess here is that your worker will provide effort = 1.25. If the real amount of effort
provided by the worker is an effort of 1, 1.25, or 1.5 then you will earn $5.
Otherwise, you will earn nothing.
<br><br>

<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>

{% endblock %}
