{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<h2>Final Remarks:</h2>
<p>
    <ul>

    <li>
        We will ask you to complete a brief survey at the end of this experiment.
    </li>

    <li>
        We will randomly select two periods for payment. We will pay you in cash at the end of this experiment.
        Your total payment will include your earnings for the two randomly selected periods and your show-up fee.

    </li>

    <li>You will play now three trial rounds to get the feeling of the game. Afterwards, you will start the game.
    Your counterpart during these trial rounds will differ from the one you will be paired with when the game starts.
    Namely, you will be rematched with a different counterpart upon the trial. However, you will play the same role for the whole
    experiment (employer or worker).</li>
</ul>
</p>
<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>
{% endblock %}
