{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

    <div class="card">
        <div class="card-header">
            Consent Page
        </div>
        <div class="card-body">
            <ul>
              <li>You are being asked to take part in a research study.</li>
              <li>If you choose to be in the study, you will complete a survey. This survey will help us learn more about what factors influence individual decisions and behavior. We expect it to take 30-40 minutes in total.</li>
              <li>All payments and procedures will be implemented in exactly the manner they are described in this survey. We expect payments to vary from $7 to $10, including the $4 participation fee.</li>
              <li>You may stop the survey at any time.</li>
              <li>The survey is anonymous, and no one will be able to link your answers back to you. Please do not include your name or other information that could be used to identify you in the survey responses.</li>
              <li>Being in this study is voluntary. Please exit the webpage if you do not want to participate.</li>
              <li>This is a minimal risk study. We cannot promise that you will receive any benefits from participating in this study beyond the monetary payments.</li>
              <li>
                <strong>Questions, Concerns, or Complaints:</strong><br>
                If you have any questions, concerns or complaints about this research study, its procedures, risks and benefits, you should ask the Protocol Director, Alejandro Martínez Marquina, at <a href="mailto:am04817@usc.edu">am04817@usc.edu</a>.<br>
                If you have any questions or concerns regarding your rights as a subject in this study, please contact the University of Southern California Institutional Review Board at <a href="tel:+13234420114">(323) 442-0114</a> or email <a href="mailto:hrpp@usc.edu">hrpp@usc.edu</a>.
              </li>
            </ul>
        </div>
    </div>

    <div>
        <button class="btn btn-primary btn-large">I consent</button>
    </div>

{% endblock %}