{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<div align="center"><h3>End of the experiment</h3>
<br>
    Thanks for participating.

    We ask you to complete the following questionnaire before proceeding to the payment. <br>

<table>
    <tr>
        <td>Gender: {% formfield player.gender %}</td>
    </tr>
    <tr>
        <td>Undergraduate student: {% formfield player.undergrad %}</td>
    </tr>

    {% if role == 'principal' %}
    <tr>
        <td>{% formfield player.asymmetry_check %}</td>
    </tr>
    {% endif %}
    {% if role == 'agent' %}
    <tr>
        <td>{% formfield player.shock_check %}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Comments <br> {% formfield player.comments %} </td>
    </tr>
</table>

<div align="center">
    <button class="btn btn-primary btn-large">Next</button>
</div>

{% endblock %}
