{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block content %}
<div><h1>Basic Information</h1>

</ol>
<p><strong>&nbsp;</strong></p>
<p><br /> <strong><u>Formation of Pairs:</u></strong></p>
<p>We will randomly assign you to one of two roles for this experiment:<strong> employer</strong> or <strong>worker</strong>. You will be informed about your role at the beginning of this experiment. Once we assign you to one of these two roles we will then randomly form employer-worker pairs. Your role (employer or worker) will not change during this experiment. Additionally, the composition of worker-employer pairs will not change during the paid portion of this experiment. That means that you will always make decisions with the same worker/employer during the paid portion of this experiment.</p>
<p>&nbsp;</p>
<p><strong><u>Anonymity:</u></strong></p>
<p>This is an anonymous game. No other participant will know your identity during this experiment. Your counterpart will know your role (whether you are an employer or worker)&nbsp; and will see your decisions. However, your counterpart cannot link these decisions to you personally. No other participant (other than your counterpart) will know your role or be able to view your decisions.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><u>Experiment Length</u></strong></p>
<ul>
<li>This experiment lasts for <strong>20 paid periods</strong>. A period ends after both players (worker and employer) make all relevant choices.</li>
<li>However, you will play 3 additional <strong>trial periods</strong> to get used to the game. <u>Trial periods are not paid.</u> However, it is important that you take these seriously so that you understand the game. This will help you maximize your earnings during paid periods. After the 3 trial periods, the 20 paid periods will begin automatically.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><u>Description of the 20 periods</u></strong></p>
<p><strong>&nbsp;</strong></p>
<p>There are two types of periods during the paid portion of this experiment:</p>
<p>&nbsp;</p>
<ul>
<li><strong>Decision Periods</strong>: workers and employers make some decisions.</li>
<li><strong>Questionnaire Periods</strong>: first, players will respond to some questions; then, they will proceed to making their decisions.</li>
</ul>
<p>&nbsp;</p>
<p>You will start the experiment by playing a <em>Decision Period </em>and you will be notified when you are playing a <em>Questionnaire Period</em>.</p>
<p>&nbsp;</p>
<p><strong><u>Payment for this experiment:</u></strong></p>
<ul>
<li>We will pay you in cash at the end of this experiment.</li>
<li>The computer will randomly select <strong>one</strong> <em>Decision Period </em>and <strong>one</strong> <em>Questionnaire Period </em><strong>out</strong> <strong>of</strong> the 20 periods. We will pay you for these two randomly selected periods. This is in addition to your $10 show-up fee.</li>
<li>Thus, your final payment will include your earnings for the <strong>two</strong> randomly selected periods and the show-up fee.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>


{% endblock %}
