{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
<h2>Questionnaire Period</h2><br><br>
These instructions are displayed to EMPLOYERS only. <br>
{% if num_round == 8 %}

This period

{% endif %}

{% if num_round > 8 %}

As you have already done in previous Questionnaire periods, this period

{% endif %}

will include two tasks. <br>
One of these tasks is called the Guess Task. <br>
The second task, called the Wage Offer, is the same task you have performed in each of
the preceding Decisional Periods.

You will complete these tasks in the following order:
<br><br>
    <ol>
    <li><b>Guess Task</b></li>
    <li><b>Wage Offer Task</b></li>
</ol>

You must complete both tasks. <br>
You will be paid for either the Guess Task or the Wage Offer Task. <br>
You will not be paid for both. The computer will choose randomly to pay you for either the Guess Task or
the Wage Offer Task.

<br><br>
We will explain the Guess Task on the following screen. Please click the button below to proceed.
<br><br>
<div>
    <button class="btn btn-primary btn-large">Next</button>
</div>

{% endblock %}